[display]
viewport=1920x1080

[gource]
key=true
start-date=1970-01-01
seconds-per-day=1.25
user-image-dir=./users
colour-images=false
multi-sampling=1
camera-mode=overview
filename-time=2.0
title=miniogre
user-scale=1.50
user-font-size=18
hide=mouse,progress
highlight-users=1
highlight-all-users=1
output-framerate=60
output-ppm-stream=./output.ppm
caption-file=./caption.txt
caption-size=22
caption-duration=6
logo=./ogre-logo.png
